<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Анфиса для друзей</h1><br>
        <p>
      <form method="post" action="./">
          <label>Название мороженого</label><br>

          <input type="text" required name="new_icecream"><br>
          </p>
      <p>
          <label>Состав нового мороженого</label><br>
          <input type="text" required name="new_description"><br>
    </p>
<p>
    <input type="submit" value="Записать">
      </form> 
    </p>
    <br>
{{ inform_me|safe }}
   <p>
    <br>
       <a href="/">На главную</a></p>
</body>
</html>